	body{font-style: verdana; font-size: 20px; margin-left: 20px; background: lightblue}
		h1{color:black; font-style:Verdana; font-size:25px; text-align:center;}
		h2{color:black; font-style:Verdana; font-size:20px; text-align:justify-all; margin-bottom: 10px}
				
		img{width:260px; height:230px; float:left;margin-right: 50px;margin-top:50px; border-image-outset: 10px
